<div class='user'>
  <h1><%= @user.name %></h1>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <h3><%= msg %></h3>
    <% end %>
  <% else %>
    <h3><%= "#{t @user.body_mass_category} (#{@user.body_mass_index})" %></h3>
  <% end %>
</div>
